language = "java10"
run = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d . Main.java Conta.java ContaBancaria.java ContaCorrenteComum.java ContaCorrenteLimite.java ContaPoupanca.java ListaTransacoes.java\njava -classpath .:/run_dir/junit-4.12.jar:target/dependency/* Main"